# Files and directories created by pub
.dart_tool/
.packages
*.iml

# Conventional directory for build outputs
build/

# Directory created by dartdoc
doc/api/

# SDK directories
.idea
.DS_Store

http_endpoint_credentials.txt

*.log
.anylogger/
pubspec.lock
logs/

pubspec.yaml.local
